.product img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    padding: 10px;

}

.product {
    width: 300;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;


}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}

.product-info {

    margin-left: 14px;
    margin-top: 5px;


}

.button-cart {
    width: 100%;
    background-color: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    font-weight: bold;

}

.button-cart:hover {
    background-color: orange;
}